{% assign team = include.team %}
<article class="team team-summary">
{% if team.image and team.image != "" %}
  <div class="team-image">
    <img alt="" src="{{ team.image | relative_url }}" />
  </div>
{% endif %}
  <div class="team-meta">
    <h3 class="team-name"><a href="{{ team.url | relative_url }}">{{ team.title }}</a></h3>
    <p class="team-description">{{ team.jobtitle }}</p>
{% if team.institution %}
    <p class="team-institution">
{% if team.institutionurl %}
      <a href="{{ team.institutionurl }}">{{ team.institution }}</a>
{% else %}
      {{ team.institution }}
{% endif %}
    </p>
{% endif %}
  </div>
{% if team.summary %}
  <p class="team-content">{{ team.summary }}</p>
{% else %}
  <p class="team-content">{{ team.content | strip_html | normalize_whitespace | truncatewords: 38 }}</p>
{% endif %}
</article>
